---
const today = new Date();
---

<footer class="footer footer-center mb-5 pt-10 sticky top-[100vh]">
	<div class="pb-2">
		<a
				href="https://olle.coffee"
				target="_blank"
				class="underline hover:no-underline"
		>
			&copy; {today.getFullYear()} Olle Korkmaz Zillén ☕️
		</a>

		Disclosure: This site may contain affiliate links. If you make a purchase through these links, we may earn a small commission at no extra cost to you.
	</div>
</footer>
<style></style>
