---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10 sticky top-[100vh]">
	<div class="pb-2">
		&copy; {today.getFullYear()} <a href="https://olle.coffee" target="_blank">Olle Korkmaz Zillén ☕️</a>
	</div>
</footer>
<style></style>
