---
export interface Props {
	title: string;
}

import ThemeSelect from './ThemeSelect.astro';
---
<div
		class="sticky lg:shadow-none lg:backdrop-blur-none top-0 z-30 flex h-16 w-full justify-center bg-opacity-90 backdrop-blur transition-all duration-100 bg-base-100 text-base-content shadow-sm"
>
	<div class="navbar">
		<div class="navbar-center">
			<a class="btn btn-ghost normal-case text-xl lg:hidden" href="/">Olle Korkmaz Zillén ☕️️</a>
		</div>
		<div class="navbar-end">
			{<ThemeSelect/>}
		</div>
	</div>
</div>
